<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta name="description" content="An activity book app for people who are socially distancing.">

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{title}}" />
  {{#if subPage}}
  <meta property="og:description" content="{{siteName}}" />
  {{else}}
  <meta property="og:description" content="An activity book for use while socially distancing." />
  {{/if}}
  <meta property="og:image" content="https://thingstodowhentheworldgetscanceled.com/images/og-image.jpg" />

  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:title" content="{{title}}" />
  {{#if subPage}}
  <meta property="twitter:description" content="{{siteName}}" />
  {{else}}
  <meta property="twitter:description" content="An activity book for use while socially distancing." />
  {{/if}}
  <meta property="twitter:image" content="https://thingstodowhentheworldgetscanceled.com/images/og-image.jpg" />

  {{#ifeq environment "production"}}
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-T6H2XNL');</script>
  <!-- End Google Tag Manager -->
  {{/ifeq}}
</head>

<body class="fullscreen d-sm-flex flex-column justify-content-center align-items-center p-2">
  <nav class="navbar navbar-expand justify-content-between align-items-center px-0 px-sm-3" style="width: 100%;">
    <div>
      <a id="miniLogo" href="/" class="logo logo--mini" style="display: none;">TTDWTWGC</a>
    </div>

    <div>
      <button type="button" class="btn btn-warning btn-sm font-weight-bold" id="our-story" data-toggle="modal" data-target="#ourStory">
        our story
      </button>

      <a href="https://airtable.com/shrrksKvgfYKFK33V" id="submit-idea" target="_blank" class="btn btn-warning btn-sm font-weight-bold">submit an idea</a>
    </div>
  </nav>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T6H2XNL"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="fullscreen__container container mb-5 pb-5 mt-sm-4 pt-3">
    <div id="logo" class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <div class="logo__container px-3 pt-4">
          <a class="logo" href="/">Things to Do When the<br />World Gets Canceled</a>
        </div>
      </div>
    </div>

    <div id="form" class="row">
      <div class="col-12 col-md-10 offset-md-1">
        {{{body}}}
      </div>
    </div>

    <div id="result" class="row px-3" style="min-height: 500px; display: none;"></div>

  </div>

  <div class="footer">
    Made by <a id="clickpop" href="https://www.clickpopmedia.com" target="_blank">ClickPop</a>
    <span class="d-none d-sm-inline">|</span>
    <a href="https://www.producthunt.com/posts/things-to-do-when-the-world-gets-canceld?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-things-to-do-when-the-world-gets-canceld" target="_blank">
      <img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=189266&theme=dark" alt="Things to do when the world gets canceld - An activity book for when you're socially distancing. | Product Hunt Embed" style="width: 200px; height: auto;" width="250px" height="54px" />
    </a>
    <span class="d-none d-sm-inline">|</span>
    <a href="https://github.com/clickpop/quarantine" target="_blank">GitHub</a>
  </div>

  <div class="modal fade" id="ourStory" tabindex="-1" role="dialog" aria-labelledby="ourStory" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Our Story</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-0">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube-nocookie.com/embed/ln1DGHJnJB0?html5=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="modal-footer">
          <a href="https://airtable.com/shrrksKvgfYKFK33V" target="_blank" class="btn btn-secondary btn-block">add an idea</a>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="/javascripts/vendor/store.legacy.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/javascripts/main.js" type="text/javascript"></script>

  <script>
    $('#ourStory').on('hide.bs.modal', function () {
      $("#ourStory iframe").attr("src", $("#ourStory iframe").attr("src"));
    });
  </script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>
