<div class="container">
    {{#each contributors}}
    <div class="card w-50 mb-3">
        <div class="card-body">
            <h2 class="card-title">{{name}}</h2>
            {{#if headshot}}
            <img src={{headshot.0.url}} height="100" width="100" class="img-thumbnail mb-2">
            {{/if}}
            {{#if bio}}
            <p class="card-text">{{bio}}</p>
            {{/if}}
            {{#if showcase-twitter}}
            <a href="http://twitter.com/{{showcase-twitter}}" target="_blank" class="btn btn-primary">Twitter</a>
            {{/if}}
            {{#if showcase-website}}
            <a href="http://{{showcase-website}}" target="_blank" class="btn btn-primary">Website</a>
            {{/if}}
            {{#if showcase-other}}
            <a href="http://{{showcase-other}}" target="_blank" class="btn btn-primary">Other</a>
            {{/if}}
        </div>
    </div>
    {{/each}}
</div>